@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Josefin+Sans:ital,wght@1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    color: #3a3a3b;
    font-weight: 300;
}

/* heading and logo */
h1,
h2 {
    font-family: 'Dancing Script', 'cursive', 'sans-serif';
    color: #252525;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#logo {
    font-size: 280%;
    text-transform: uppercase;
    padding-left: 20px;
    padding-top: 2px;
    font-weight: 300px;
    float: left;
}

/* Navigation and menu */
#menu {
    font-size: 115%;
    letter-spacing: 3px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #3a3a3a;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* main image */

#main-outer {
    height: 600px;
    overflow: hidden;
    width: 100%;
    position: relative;
}

#main-image {
    background: url('../images/main-page-image.jpg') no-repeat center center;
    height: 600px;
    width: 100%;
}

#main-image-text,
#main-image-text h2 {
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}

#main-image-text {
    font-size: 100%;
    text-transform: capitalize;
    letter-spacing: 4px;
    width: 451px;
    height: 124px;
    position: absolute;
    padding: 9px;
    background-color: rgba(26, 219, 145, 0.6);
    top: 80px;
    right: 50px;
    text-align: justify;
}

#main-image-text hr {
    border-top: 1px solid #2c6608;
    padding: 7px;
    width: 97%;
}

/* main page content*/

#section-content {
    height: 600px;
    text-align: center;
    margin-top:8px;
}
#section-content h1 {
    font-size:280%;
    font-family: 'Josefin Sans', sans-serif;
}
#section-content h2 {
    font-size:200%;
    font-family:  'Josefin Sans', sans-serif;
}
#section-content img {
    width:90%;
    height:250px;
    border-radius: 20px;
    padding-top: 5px;
}

#left-content {
    width:33%;
    float:left;
    background-color: rebeccapurple;
}

#center-content {
    width:33%;
    background-color: #2c6608;
    margin: 0 auto;
}

#right-content {
    float:right;
    width:33%;
    background-color: aqua;
}