@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Josefin+Sans:ital,wght@1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    color: #3a3a3b;
    font-weight: 300;
}

header{
    height: 10%;
}
/* heading and logo */
h1,
h2 {
    font-family: 'Dancing Script', 'cursive', 'sans-serif';
    color: #252525;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#logo {
    font-size: 2.5em;
    text-transform: uppercase;
    padding-left: 20px;
    padding-top: 2px;
    float: left;
}

/* Navigation and menu */
#menu {
    font-size: 115%;
    letter-spacing: 3px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #3a3a3a;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* main image */

#main-outer {
    height: 600px;
    overflow: hidden;
    width: 100%;
    position: relative;
}

#main-image {
    background: url('../images/babur-garden-sunset.jpg') no-repeat center center;
    height: 600px;
    width: 100%;
}

#main-image-text,
#main-image-text h2 {
    color: rgb(0, 0, 0);
    font-family: 'Josefin Sans', sans-serif;
}

#main-image-text {
    font-size: 100%;
    text-transform: capitalize;
    letter-spacing: 4px;
    width: 451px;
    height: 124px;
    position: absolute;
    padding: 9px;
    background-color: rgba(251, 245, 193, 0.8);
    top: 80px;
    right: 50px;
    text-align: justify;
}

#main-image-text hr {
    border-top: 1px solid #2c6608;
    padding: 7px;
    width: 97%;
}

/* main page content*/

#section-content {
    text-align: center;
    margin-top:8px;
}

#section-content p{
    font-size: 1.5em;
    letter-spacing: 2px;
    padding: 35px;
    color: #2c6608;
    background-color: rgb(255 252 207);
}

/* add flex style to the images in the index.html*/

#gallery{
    display: flex;
    margin-bottom: 5px;
}
.image-box{
    flex: 1;
}
.image-box img{
    height: 80%;
    width:90%;
    border-radius: 20px;
    padding-top: 5px;
}
.image-box h2{
    font-size: 1.8em;
    font-family: 'Josefin Sans', sans-serif;
}


/* footer style */
footer{
    height: 150px;
    text-align: center;
    background-color: #010c01;
    bottom: 0;
    width: 100%;
}

.footer-social-links {
    text-align: center;
}

.footer-social-links > li {
    display: inline;
}
.footer-social-links i{
    font-size: 160%;
    padding: 60px;
    color:white;
}


/* history. hmtl styles*/

.history-content{
    width: 100%;
    height: auto;
    text-align: center;
}
#history-content-frist, #history-content-second {
    width: 97%;
    border:4px solid #183a03;
    border-radius: 9px;
    display: inline-block;
}


#history-content-frist img{
    float: left;
    width:20%;
    padding-top: 30px;
    margin-left: 20px;
    margin-bottom: 15px;
}
#history-content-second img{
    float: right;
    width:20%;
    padding-top: 30px;
    margin-right: 20px;
    margin-bottom: 15px;
}

#history-content-frist p, #history-content-second p {
    width: 72%;
    float:left;
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
    padding-top: 25px;
    font-size: 140%;
}



/* old content style

.history-content{
    height: 600px;
    width: 100%;
    overflow: hidden;
}


#history-content-frist {
    width:95%;
    border:4px solid #183a03;
    height: 50%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 9px;
    overflow: scroll;
}

.history-content div img{
    width: 29%;
    padding:3px;
    border-radius: 10px;
}
#history-content-frist img{
    float:left;
}
#history-content-second img{
    float:right;
}

.history-content p{
    color:#010c01;
    font-size: 140%;
    padding: 10px;
    text-align: justify;
    width:68%;
}

#history-content-frist P {
    float: right;
}
#history-content-second P {
    float: left;
}


*/





/* ticket page and section */

#ticket-form-section {
    clear: left;
    background: url("../images/Carvanserai.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
}

.park-hourse{
    margin:0 auto;
    margin-top: 5%;
    background-color: rgba(130, 104, 91,0.9);
    width: 800px;
    position: absolute;
    right: 30%;
    border-radius: 5px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.park-hourse h2 {
    color:black;
    font-size: 200%;
}

.park-hourse span {
    display: inline-block;
    width: 30%;
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
    color:black;
}


/* Ticket booking form */

.park-ticket-form {

    margin:0 auto;
    margin-top: 12%;
    background-color: rgba(130, 104, 91,0.9);
    max-width: 400px;
    position: absolute;
    right: 32%;
    border-radius: 5px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: black;
    padding: 10px;
}

.park-ticket-form input {
    display: block;
    width: 100%;
    background: transparent;
    border:1px solid white;
    height: 25px;
    margin: 5px 0 20px 0;
    border-radius: 5px;
}
.park-ticket-form input:hover, .park-ticket-form input:focus {
    border-color:red;
}
.park-ticket-form label{
    float:left;
    font-size: 120%;
    font-weight: bold;
}

.submit-button {
    color:black;
    background-color: #fff;
    width: 190px;
    height: 30px;
    border-radius: 5px;
    font-size: 120%;
    border: 1px solid black;
    padding: 2px;

}
.submit-button:hover {
    color:white;
    background-color: black;
    border: 1px solid white;
}


/*contact page css*/

#contact-main-section{
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#contact-map {
    height:500px;
    width:49%;
    float:left;
    margin-left: 10px;
    
}

#contact-map iframe{
    width: 100%;
    height: 100%;
    border-radius:0 5px 0 5px;
}

#contact-form {
    height:500px;
    width:49%;
    float:right;
    margin-right: 10px;
    background-color: #F3F3F3;
    text-align: center;
}

#contact-form h3, h4 {
    text-align: center;
    color:black;
}

#contact-form h3{
    font-size: 320%;;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 0;
}

#contact-form h4{
    font-size: 150%;
    padding-bottom: 15px;
}

.input-inline-style, .input-block-style {

    height: 40px;
    margin: 5px;
    padding: 8px;
}
.input-inline-style{
    width: 38%;
}
.input-block-style{
    width: 80%;
}

#contact-form input:focus, #contact-form textarea:focus{
    outline: none;
}

.input-textarea-style{
    margin: 5px;
    padding: 8px;
    width: 80%;
}

.contact-submit-btn {
    display: block;
    margin: 8px auto;
    width: 83%;
    background-color: #3aa347;
    height: 30px;
    border-radius: 5px;
    font-size: 120%;
    padding: 2px;
    color:white;
    
}

@media screen and (max-width: 1200px) {

    .park-hourse{
        margin-top: 3%;
        right:10%
    }
    .park-ticket-form{
        margin-top: 15%;

    }

    /* Contact.html Css*/
    #contact-main-section{
        height: auto;
        margin: 0 auto;
    }    
    #contact-map{
        float:none;
        margin:0 auto;
        width:90%
    }
    #contact-form{
        width: 90%;
        
        float: none;
        margin:10px auto;
        padding: 40px;
    }
}


@media screen and (max-width: 900px){
    
    header a{
        text-decoration: none;
        text-align: center;
        padding-top: 5px;
    }
    #logo{
        float: none;
        font-size: 227%;
    }
    #menu{
        clear:left;
        float:left;
        padding-left: 17px;
    }

    #menu, #logo {
        line-height: 58px;
    }

    #section-content p{
        font-size: 1.5em;
        padding: 25px;
    }

    #history-content-frist,#history-content-second{
        margin: 2px 0 2px 0;
    }
    #history-content-frist img , #history-content-second img,
    #history-content-frist p , #history-content-second p 
     {
        float:none;
    }
    #history-content-frist img , #history-content-second img{
        width:50%
    }

    #history-content-frist p , #history-content-second p {
        width:95%;
    }
    
    .park-hourse{
        margin-top: 2%;
        right:6%;
        width:500px;
    }
    .park-hourse h2{
        font-size: 170%;
    }
    .park-hourse h3{
        font-size: 100%;
    }
    .park-ticket-form{
        margin-top: 15%;
        right:11%;
    }
}

@media screen and (max-width:780px) {
    #gallery{
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    #main-image-text{
        right: 5px;
        width:95%;
        height: auto;
    }
    #main-image-text h2{
        font-size: 120%;
    }
    #main-image-text h3{
        font-size: 100%;
    }
    #menu{
        padding: 5px;
    }
    #menu li{
        margin-right: 19px;
    }
    #section-content{
        height: auto;
    }
   
    footer {
        height:80px;
    }
    .footer-social-links i{
        font-size: 130%;
        padding: 20px;
        color:white;
    }
    
    #history-content-frist,#history-content-second{
        margin: 2px 0 2px 0;
    }
    #history-content-frist img , #history-content-second img,
    #history-content-frist p , #history-content-second p 
     {
        float:none;
    }
    #history-content-frist img , #history-content-second img{
        width:50%
    }

    #history-content-frist p , #history-content-second p {
        width:95%;
    }

    .park-hourse{
        margin-top: 2%;
        right:3%;
        width:360px;
    }
    .park-hourse h2, .park-ticket-form h2{
        font-size: 120%;
    }
    .park-hourse h3{
        font-size: 80%;
    }
    .park-ticket-form{
        width:347px;
        margin-top: 18%;
        right:3%;
    }
    .park-ticket-form label {
        font-size: 100%;
    }
    .submit-button{
        width:170px;
        font-size: 100%;
        height:23px;
    }


    /*Contact.html map and contact form*/

    #contact-form{
        padding: 25px;;
    }

    #contact-form h3 {
        font-size: 253%;
        padding-top: 0px;
        padding-bottom: 16px;
    }
    #contact-form h4 {
        font-size: 136%;
        padding-bottom: 11px;
    }

    .input-inline-style{
        width:80%;
    }

}

@media screen and (max-width: 380px) {
    
    #logo{
        font-size: 160%;
        padding-left: 0;
    }
    #menu, #logo {
        line-height: 42px;
    }
    #menu{
        padding: 4px;
    }
    #menu li{
        margin-right: 7px;
    }
    #main-image-text{
        right: 2px;
        width:94%
    }
    #main-image-text h2{
        font-size: 95%;
    }
    #main-image-text h3{
        font-size: 95%;
    }
    
    
    #history-content-frist,#history-content-second{
        margin: 2px 0 2px 0;
    }
    #history-content-frist img , #history-content-second img,
    #history-content-frist p , #history-content-second p 
     {
        float:none;
    }
    #history-content-frist img , #history-content-second img{
        width:50%
    }

    #history-content-frist p , #history-content-second p {
        width:95%;
    }

    /* ticket page style*/
    .park-hourse{
        margin-top: 2%;
        right:0;
        width:317px;
    }
    .park-hourse h2, .park-ticket-form h2{
        font-size: 100%;
    }
    .park-hourse h3{
        font-size: 80%;
    }
    .park-ticket-form{
        width:298px;
        margin-top: 24%;
        right:0;
    }
    .park-ticket-form label {
        font-size: 90%;
    }
    .submit-button{
        width:170px;
        font-size: 100%;
        height:23px;
    }

    /* Contact page style */

    #contact-form h3{
        font-size: 225%;
    }
    #contact-form h4{
        font-size: 109%;
    }

    /* Footer style*/
    footer{
        bottom: 0;
        right: 0;
    }
}
