@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Josefin+Sans:ital,wght@1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    color: #3a3a3b;
    font-weight: 300;
}

/* heading and logo */
h1,
h2 {
    font-family: 'Dancing Script', 'cursive', 'sans-serif';
    color: #252525;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#logo {
    font-size: 280%;
    text-transform: uppercase;
    padding-left: 20px;
    padding-top: 2px;
    font-weight: 300px;
    float: left;
}

/* Navigation and menu */
#menu {
    font-size: 115%;
    letter-spacing: 3px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #3a3a3a;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* main image */

#main-outer {
    height: 600px;
    overflow: hidden;
    width: 100%;
    position: relative;
}

#main-image {
    background: url('../images/main-page-image.jpg') no-repeat center center;
    height: 600px;
    width: 100%;
}

#main-image-text,
#main-image-text h2 {
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}

#main-image-text {
    font-size: 100%;
    text-transform: capitalize;
    letter-spacing: 4px;
    width: 451px;
    height: 124px;
    position: absolute;
    padding: 9px;
    background-color: rgba(26, 219, 145, 0.6);
    top: 80px;
    right: 50px;
    text-align: justify;
}

#main-image-text hr {
    border-top: 1px solid #2c6608;
    padding: 7px;
    width: 97%;
}

/* main page content*/

#section-content {
    text-align: center;
    margin-top:8px;
}


#section-content h2 {
    font-size:200%;
}
 #section-content h2 {
    font-family: 'Josefin Sans', sans-serif;
}
#section-content p{
    font-size: 220%;
    letter-spacing: 2px;
    text-align: justify;
    padding: 35px;
}
#section-content img {
    width:90%;
    border-radius: 20px;
    padding-top: 5px;
}

#left-content {
    width:33%;
    float:left;
}

#center-content {
    width:33%;
    margin: 0 auto;
}

#right-content {
    float:right;
    width:33%;
}

footer{
    height: 150px;
    text-align: center;
    background-color: #010c01;
    bottom: 0;
    width: 100%;
}

.footer-social-links {
    text-align: center;
}

.footer-social-links > li {
    display: inline;
}
.footer-social-links i{
    font-size: 160%;
    padding: 60px;
    color:white;
}


/* history. hmtl styles*/
.history-content{
    height: 600px;
    width: 100%;
    overflow: hidden;
}


.history-content > div {
    width:95%;
    border:4px solid #183a03;
    height: 48%;
    margin: 0 auto;
    margin-top: 3px;
    border-radius: 9px;
}

.history-content div img{
    width: 29%;
    padding:3px;
    border-radius: 10px;
}
#history-content-frist img{
    float:left;
}
#history-content-second img{
    float:right;
}

.history-content p{
    color:#010c01;
    font-size: 140%;
    padding: 10px;
    text-align: justify;
    width:68%;
}

#history-content-frist P {
    float: right;
}
#history-content-second P {
    float: left;
}


/* ticket page and section */

#ticket-form-section {
    clear: left;
    background: url("../images/Carvanserai.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
}

.park-hourse{
    margin:0 auto;
    margin-top: 5%;
    background-color: rgba(130, 104, 91,0.9);
    max-width: 800px;
    position: absolute;
    right: 30%;
    border-radius: 5px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.park-hourse h2 {
    color:black;
    font-size: 200%;
}

.park-hourse span {
    display: inline-block;
    width: 30%;
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
    color:black;
}


/* Ticket booking form */

.park-ticket-form {

    margin:0 auto;
    margin-top: 12%;
    background-color: rgba(130, 104, 91,0.9);
    max-width: 400px;
    position: absolute;
    right: 32%;
    border-radius: 5px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: black;
    padding: 10px;
}

.park-ticket-form input {
    display: block;
    width: 100%;
    background: transparent;
    border:1px solid white;
    height: 25px;
    margin: 5px 0 20px 0;
    border-radius: 5px;
}
.park-ticket-form input:hover, .park-ticket-form input:focus {
    border-color:red;
}
.park-ticket-form label{
    float:left;
    font-size: 120%;
    font-weight: bold;
}

.submit-button {
    color:black;
    background-color: #fff;
    width: 190px;
    height: 30px;
    border-radius: 5px;
    font-size: 120%;
    border: 1px solid black;
    padding: 2px;

}
.submit-button:hover {
    color:white;
    background-color: black;
    border: 1px solid white;
}


/*contact page css*/

#contact-main-section{
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#contact-map {
    height:500px;
    width:49%;
    float:left;
    margin-left: 10px;
    
}

#contact-map iframe{
    width: 100%;
    height: 100%;
    border-radius:0 5px 0 5px;
}

#contact-form {
    height:500px;
    width:49%;
    float:right;
    margin-right: 10px;
    background-color: #F3F3F3;
    text-align: center;
}

#contact-form h3, h4 {
    text-align: center;
    color:black;
}

#contact-form h3{
    font-size: 320%;;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 0;
}

#contact-form h4{
    font-size: 150%;
    padding-bottom: 15px;
}

.input-inline-style, .input-block-style {

    height: 40px;
    margin: 5px;
    padding: 8px;
}
.input-inline-style{
    width: 38%;
}
.input-block-style{
    width: 80%;
}

#contact-form input:focus, #contact-form textarea:focus{
    outline: none;
}

.input-textarea-style{
    margin: 5px;
    padding: 8px;
    width: 80%;
}

.contact-submit-btn {
    display: block;
    margin: 8px auto;
    width: 83%;
    background-color: #3aa347;
    height: 30px;
    border-radius: 5px;
    font-size: 120%;
    padding: 2px;
    color:white;
    
}


@media screen and (max-width: 900px){
    
    header a{
        text-decoration: none;
        text-align: center;
        padding-top: 5px;
    }
    #logo{
        float: none;
        font-size: 230%;
    }
    #menu{
        clear:left;
        float:left;
        padding-left: 20px;
    }

    #menu, #logo {
        line-height: 58px;
    }

    #section-content p{
        font-size: 160%;
        text-align: justify;
        padding: 25px;
    }

    #section-content h2{
        font-size: 140%;
        font-weight: bold;
    }
    
}

@media screen and (max-width: 600px) {
    
    
    #main-image-text{
        right: 5px;
    }
    #section-content{
        height: 1120px;
    }
    #section-content div{
        clear:both;
        float: none;
        display: block;
        margin: 0 auto;
    }
    #left-content,#center-content,#right-content {
        width:65%;
    }

    footer {
        height:80px;
    }

    .footer-social-links i{
        font-size: 130%;
        padding: 20px;
        color:white;
    }
    
}